<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.butterflyeffect.GPSDetector" version="0.0.1">
    <name>GPSDetector</name>
    <description>Is the device GPS hardware on or off?</description>
    <author>Bastien L</author>

    <engines>
        <engine name="cordova" version=">=2.9" />
    </engines>

    <js-module src="GPSDetector.js" name="GPSDetector">
        <clobbers target="window.GPSDetector" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GPSDetector">
                <param name="android-package" value="com.uc.kk.GPSDetector" />
            </feature>
        </config-file>
        <source-file src="GPSDetector.java" target-dir="src/com/uc/kk/" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
        </config-file>
    </platform>
</plugin>
